{% extends "layouts/base-fullscreen.html" %}

{% block title %} Login {% endblock %}

{% block content %}   

    <div class="auth-wrapper">
        <div class="auth-content">
            <div class="auth-bg">
                <span class="r"></span>
                <span class="r s"></span>
                <span class="r s"></span>
                <span class="r"></span>
            </div>
            <div class="card">
                <div class="card-body text-center">
                    <div class="mb-4">
                        <i class="feather icon-user-plus auth-icon"></i>
                    </div>
                    <h3 class="mb-4">Reset</h3>

                    <span class="mb-0 text-muted">
                        {% if msg %}
                            <span class="text-danger">{{ msg | safe }}</span>
                        {% else %}
                            Add your credentials
                        {% endif %} 
                    </span>

                    <br />
                    <br />

                    <!-- Hide the form on success -->
                    {% if success %}

                        <a href="{% url 'login' %}" class="btn btn-primary shadow-2 mb-4">Sign IN</a>

                    {% else %}

                        <form role="form" method="post" action="">

                            {% csrf_token %}                    

                            <div class="input-group mb-3">
                                {{ form.email }}
                            </div>
                            <span class="text-error">{{ form.email.errors }}</span>
                            
                            <button type="submit" name="reset" class="btn btn-primary shadow-2 mb-4">Submit</button>

                        </form>

                        <p class="mb-0 text-muted">Already have an account? <a href="{% url 'login' %}" >Login</a></p>
                    
                    {% endif %}
                    
                    <br />
                    <p class="mb-2 text-muted">
                        &copy; <a target="_blank" href="https://bit.ly/37fF9RT">Copyright 2022 -2023</a> 
                        - <a target="_blank" href="https://appseed.us/datta-able/product/django/">GFIS Innovative Solutions</a>
                    </p>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}
